Tytol strony:  {{tytol | uppercase}} <br>


<p>Dni tyognida</p>
<ul>
  <li *ngFor="let day of days">
    {{day}}
  </li>
</ul>

<div *ngIf="dogs.length > 0"></div>

<div *ngFor="let psy of dogs">
  Moj pies ma na ime {{psy.name}} i ma {{psy.age}}
</div>
<button (click)="addDogs()">Dodaj</button>
<button (click)="removeDogs()">Usun</button>